html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #f2f2f2;
  }

  h1, h2, h3, h4, h5, h6 {
      color: #ffffff;
  }
  
  h1 { font-size: 60px; }
  h3 {
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  h6 { font-size: 22px; }
  
  .banner h1, .banner h3, .banner h6 {
    margin: 0;
    text-shadow: 2px 2px 6px #000;
    text-align: center;
  }
  
  .banner {
    color: white !important;
    /* background: url('../images/service.jpg') top left/cover no-repeat; */
    height: 100%;
    width: 100%;
    background-repeat: round;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/service.jpg);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .serSec {
      padding-top: 80px;
  }

  .serTitle {
    color: #000000;
  }

  .subtitle {
    color: #0a4aaa;
  }

  .cblack {
      color: #000000;
  }