html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #f2f2f2;
  }

  h1, h2, h3, h4, h5, h6 {
      color: #ffffff;
  }
  
  h1 { font-size: 60px; }
  h3 {
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  h6 { font-size: 22px; }
  
  .banner h1, .banner h3, .banner h6 {
    margin: 0;
    text-shadow: 2px 2px 6px #000;
    text-align: center;
  }
  
  .banner {
    color: white !important;
    /* background: url('../images/service.jpg') top left/cover no-repeat; */
    height: 100%;
    width: 100%;
    background-repeat: round;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/testimonialsbg.jpg);
    height: 700px;
    display: flex;
    justify-content: center;
    padding-top: 180px;
  }

  .testimonialsSec {
    color: white !important;
    /* background: url('../images/service.jpg') top left/cover no-repeat; */
    height: 100%;
    width: 100%;
    background-repeat: round;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/testimonials1Bg.jpg);
    display: flex;
    justify-content: center;
    padding-top: 95px;
  }

  .serSec {
      padding-top: 80px;
  }

  .serTitle {
    color: #000000;
  }

  .subtitle {
    color: #0a4aaa;
  }

  .cblack {
      color: #000000;
  }

  .text-grey{
      color: grey;
  }

  .section-title-border {
      background: #1e81f6;
  }

  .section-title-border::before {
    background: #1e81f6;
  }

  .section-title-border::after {
    background: #1e81f6;
  }

  .testi {
    background: #ffffff;  
  }

  /* for out clients start */
  .logogrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* grid-auto-rows: 75px; */
    grid-gap: 4rem;
    padding-bottom: 25px;
  }
  .logogrid__item {
      width: 200px;
      height: 100px;
  }
  .logogrid__item {
    /* display: -webkit-box;
    display: flex; */
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .ctitle {
      /* position: absolute; */
      /* margin-top: 45px; */
      font-weight: 600;
      color: #1e81f6;
      font-size: 14px;
      text-align: center;
  }
  .logogrid__img {
    /* -o-object-fit: cover;
       object-fit: cover; */
    max-width: 170px;
    height: 70px;
    /* -webkit-filter: grayscale(100%) contrast(25%);
            filter: grayscale(100%) contrast(25%); */
    /* -webkit-transition: -webkit-filter 0.3s ease; */
    /* transition: -webkit-filter 0.3s ease; */
    /* transition: filter 0.3s ease;
    transition: filter 0.3s ease, -webkit-filter 0.3s ease; */
  }
  .logogrid__img:hover {
    -webkit-filter: grayscale(0) contrast(100%);
            filter: grayscale(0) contrast(100%);
  }
  /* for out clients end */

  /* for circles start  */
  html {
    font-size: 10px;
  }
  
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 14px;
  }
  
  .container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
  }
  
  .progress-circle {
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    height: 15rem;
    width: 15rem;
    margin: 4rem 2rem 0;
    position: relative;
  }
  .progress-circle:before {
    background-color: #0083ff;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  .ptext {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
  }

  .progress-circle:after {
    align-items: center;
    background-color: #494a56;
    border-radius: 50%;
    content: attr(data-progress) "+";
    display: flex;
    font-size: 3rem;
    justify-content: center;
    position: absolute;
    left: 1rem;
    right: 1rem;
    top: 1rem;
    bottom: 1rem;
    transition: transform 0.2s ease;
  }
  .progress-circle:hover:after, .progress-circle:focus:after {
    transform: scale(0.8);
  }

  @media screen and (max-width: 992px){
    .progress-circle {
      height: 10rem;
      width: 10rem;
      margin: 4rem 2rem 0;
    }

    .progress-circle:after {
      font-size: 2em;
    }

    .ptext {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 509px){
    .progress-circle {
      height: 7rem;
      width: 7rem;
      margin: 3rem 2rem 0;
    }

    .progress-circle:after {
      font-size: 2em;
    }

    .ptext {
      font-size: 8px;
    }
  }
  
  /**
  * $step is set to 5 by default, meaning you can only use percentage classes in increments of five (e.g. 25, 30, 45, 50, and so on). This helps to reduce the size of the final CSS file. If you need a number that doesn't end in 0 or 5, you can change the text percentage while rounding the class up/down to the nearest 5.
  */
  .progress-circle[data-progress="0"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(90deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="1"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(93.6deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="2"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(97.2deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="3"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(100.8deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="4"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(104.4deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="5"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(108deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="6"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(111.6deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="7"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(115.2deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="8"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(118.8deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="9"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(122.4deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="10"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(126deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="11"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(129.6deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="12"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(133.2deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="13"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(136.8deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="14"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(140.4deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="15"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(144deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="16"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(147.6deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="17"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(151.2deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="18"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(154.8deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="19"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(158.4deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="20"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(162deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="21"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(165.6deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="22"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(169.2deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="23"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(172.8deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="24"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(176.4deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="25"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(180deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="26"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(183.6deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="27"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(187.2deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="28"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(190.8deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="29"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(194.4deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="30"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(198deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="31"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(201.6deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="32"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(205.2deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="33"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(208.8deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="34"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(212.4deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="35"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(216deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="36"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(219.6deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="37"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(223.2deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="38"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(226.8deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="39"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(230.4deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="40"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(234deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="41"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(237.6deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="42"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(241.2deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="43"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(244.8deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="44"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(248.4deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="45"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(252deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="46"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(255.6deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="47"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(259.2deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="48"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(262.8deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="49"]:before {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(266.4deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="50"]:before {
    background-image: linear-gradient(-90deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="51"]:before {
    background-image: linear-gradient(-86.4deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="52"]:before {
    background-image: linear-gradient(-82.8deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="53"]:before {
    background-image: linear-gradient(-79.2deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="54"]:before {
    background-image: linear-gradient(-75.6deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="55"]:before {
    background-image: linear-gradient(-72deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="56"]:before {
    background-image: linear-gradient(-68.4deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="57"]:before {
    background-image: linear-gradient(-64.8deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="58"]:before {
    background-image: linear-gradient(-61.2deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="59"]:before {
    background-image: linear-gradient(-57.6deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="60"]:before {
    background-image: linear-gradient(-54deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="61"]:before {
    background-image: linear-gradient(-50.4deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="62"]:before {
    background-image: linear-gradient(-46.8deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="63"]:before {
    background-image: linear-gradient(-43.2deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="64"]:before {
    background-image: linear-gradient(-39.6deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="65"]:before {
    background-image: linear-gradient(-36deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="66"]:before {
    background-image: linear-gradient(-32.4deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="67"]:before {
    background-image: linear-gradient(-28.8deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="68"]:before {
    background-image: linear-gradient(-25.2deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="69"]:before {
    background-image: linear-gradient(-21.6deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="70"]:before {
    background-image: linear-gradient(-18deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="71"]:before {
    background-image: linear-gradient(-14.4deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="72"]:before {
    background-image: linear-gradient(-10.8deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="73"]:before {
    background-image: linear-gradient(-7.2deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="74"]:before {
    background-image: linear-gradient(-3.6deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="75"]:before {
    background-image: linear-gradient(0deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="76"]:before {
    background-image: linear-gradient(3.6deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="77"]:before {
    background-image: linear-gradient(7.2deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="78"]:before {
    background-image: linear-gradient(10.8deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="79"]:before {
    background-image: linear-gradient(14.4deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="80"]:before {
    background-image: linear-gradient(18deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="81"]:before {
    background-image: linear-gradient(21.6deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="82"]:before {
    background-image: linear-gradient(25.2deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="83"]:before {
    background-image: linear-gradient(28.8deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="84"]:before {
    background-image: linear-gradient(32.4deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="85"]:before {
    background-image: linear-gradient(36deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="86"]:before {
    background-image: linear-gradient(39.6deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="87"]:before {
    background-image: linear-gradient(43.2deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="88"]:before {
    background-image: linear-gradient(46.8deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="89"]:before {
    background-image: linear-gradient(50.4deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="90"]:before {
    background-image: linear-gradient(54deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="91"]:before {
    background-image: linear-gradient(57.6deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="92"]:before {
    background-image: linear-gradient(61.2deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="93"]:before {
    background-image: linear-gradient(64.8deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="94"]:before {
    background-image: linear-gradient(68.4deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="95"]:before {
    background-image: linear-gradient(72deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="96"]:before {
    background-image: linear-gradient(75.6deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="97"]:before {
    background-image: linear-gradient(79.2deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="98"]:before {
    background-image: linear-gradient(82.8deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="99"]:before {
    background-image: linear-gradient(86.4deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  .progress-circle[data-progress="100"]:before {
    background-image: linear-gradient(90deg, #0083ff 50%, transparent 50%, transparent), linear-gradient(270deg, #0083ff 50%, #ddd 50%, #ddd);
  }
  
  /* for circles end  */

  /* for testimonials start */
  .shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
border:1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 600;
}
.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #3190E7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item {
    text-align: center;
    padding: 50px;
    margin-bottom:50px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #3190E7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #3190E7;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}
  /* for testimonials end */